/* web */

html {
    font: italic small-caps bold 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tagline {
    margin: 66px 0 22px 0;
}

/* LINKS */

a {
    color: blue;
    text-decoration: none;
    text-decoration: underline;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo {
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 22px 0;
}

.primary_nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}
/* FOOTER */

.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
.primary-footer small {
    float: left;
    font-weight: 400;
}

.firm {
    font-variant: small-caps;
}

.daring {
    font-weight: bold;
}
/* BODY */


body {
    color: #888;
    line-height: 22px;
    font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}
/* Typography */

table, th, td {
    border:1px solid black;
    padding: 8px;
  }

h1, h2, h3, h4 {
    color: #648880;
}

h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}


.btn {
    height: 22px;
    line-height: 22px;
}


/* NAVIGATION */

.nav {
    text-align: center;
    color: blue;
}

.hero {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
}

